*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    position: fixed;
    width: 100vw;
    background-color: rgba(255,255,255,0.8);
}

header p{
    font-size: 24px;
    font-weight: bold;
}

header ul{
    display: flex;
    width: 600px;
}

header a{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.firstview h1{
    font-size: 64px;
    text-align: center;
    padding-top: 320px;
}

.firstview p{
    font-size: 16px;
    text-align: center;
}

.firstview{
    background-image: url(images/hero-image.png);
    background-size: cover;
    height: 800px;
}

.about{
    padding: 180px;
}

.profile .profile-text{
    width: 500px;
    float: left;
}

.profile-text h2{
    font-size: 64px;
    letter-spacing: 0.1em;
}

.profile-text h3{
    font-size: 24px;
    margin-top: 72px;
}

.profile-text p{
    font-size: 16px;
    margin-top: 24px;
}

.profile-text img{
    width: 480px;
    height: 270px;
    margin-left: 100px;
}

.clearfix{
    clear: both;
}

.school-club{
    margin-top: 180px;
    display: flex;
    justify-content: space-between ;
}

.school-club img{
    width: 480px;
    height: 270px;
    border-radius: 16px;

}

.school-club h3{
    margin-top: 8px;
}

.school-club p{
    margin-top: 16px;
}

.school-club a{
    display: inline-block;
    border-bottom: 1px solid;
    margin-top: 32px;
}

.favorite{
    text-align: center;
    padding: 180px 180px 240px 180px;
    background-image: url(background.jpg);
    background-size: cover;
}

.favorite h2{
    font-size: 64px;
    letter-spacing: 0.1em;
    color: #fff;
    border-bottom: 3px solid #ffffff;
    display: inline-block;
}

.favorite-content h3{
    font-size: 24px;
    margin-top: 16px;
}

.favorite p{
    font-size: 16px;
}

.favorite-content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.favorite-content{
    width: 320px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
}

.favorite-content p{
    font-size: 16px;
    text-align: left;
    margin-top: 32px;
}

.favorite-contents{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.works{
    padding: 180px;
    text-align: center;
    background-color: #fffdf3;
}

.works h2{
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.1em;
    border-bottom: 3px solid #f90;
    display: inline-block;
}

.works-content{
    display: flex;
    background-color: #ffffff;
    padding-top: 40px;
    margin: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0 0.15);
    text-align: left;
}

.works-content img{
    width: 320px;
    height: 180px;
}

.works-content p{
    font-size: 16px;
    margin-top: 16px;
}

.works-content span{
    font-size: 16px;
    margin-left: 16px;
}

.works-content .works-text{
    margin-left: 32px;
}

.contact{
    padding: 180px 370px;
    text-align: center;
}

.contact h2{
    font-size: 64px;
    letter-spacing: 0.1em;
    border-bottom: 3px solid #ff9900;
    display: inline-block;
}

.contact p{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 200%;
    margin-top: 48px;
    text-align: left;
}

.contact a{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #ffffff;
    width: 200px;
    line-height: 80px;
    display: inline-block;
    border-radius: 16px;
}

.contact .sns-twitter{
    background-color: #00acee;
}

.contact .sns-facebook{
    background-color: #3b5998;
}

.contact .sns-website{
    background-color: #333;
}

.contact .sns{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer{
    height: 80px;
    background-color: #edece7;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
}